/* utility classes */

/* text color */

// text primary
.text-primary-100 {
  color: $clr-primary-100;
}
.text-primary-200 {
  color: $clr-primary-200;
}
.text-primary-300 {
  color: $clr-primary-300;
}
.text-primary-400 {
  color: $clr-primary-400;
}
.text-primary-500 {
  color: $clr-primary-500;
}

// text neutral
.text-neutral-100 {
  color: $clr-neutral-100;
}
.text-neutral-200 {
  color: $clr-neutral-200;
}
.text-neutral-300 {
  color: $clr-neutral-300;
}
.text-neutral-400 {
  color: $clr-neutral-400;
}
.text-neutral-500 {
  color: $clr-neutral-500;
}

/* background color */

// background primary
.bg-primary-100 {
  background-color: $clr-primary-100;
}
.bg-primary-200 {
  background-color: $clr-primary-200;
}
.bg-primary-300 {
  background-color: $clr-primary-300;
}
.bg-primary-400 {
  background-color: $clr-primary-400;
}
.bg-primary-500 {
  background-color: $clr-primary-500;
}

// background neutral
.bg-neutral-100 {
  background-color: $clr-neutral-100;
}
.bg-neutral-200 {
  background-color: $clr-neutral-200;
}
.bg-neutral-300 {
  background-color: $clr-neutral-300;
}
.bg-neutral-400 {
  background-color: $clr-neutral-400;
}
.bg-neutral-500 {
  background-color: $clr-neutral-500;
}

/* font-weight */
.fw-400 {
  font-weight: $fw-400;
}
.fw-500 {
  font-weight: $fw-500;
}
.fw-700 {
  font-weight: $fw-700;
}
.fw-800 {
  font-weight: $fw-800;
}
.fw-900 {
  font-weight: $fw-900;
}

/* font-size */
.fs-100 {
  font-size: $fs-100;
}
.fs-200 {
  font-size: $fs-200;
}
.fs-300 {
  font-size: $fs-300;
}
.fs-400 {
  font-size: $fs-400;
}
.fs-500 {
  font-size: $fs-500;
}
.fs-600 {
  font-size: $fs-600;
}
.fs-700 {
  font-size: $fs-700;
}
.fs-800 {
  font-size: $fs-800;
}
.fs-900 {
  font-size: $fs-900;
}

// transition
.ts-400 {
  transition: $ts-400;
}

// radius
.btn-radius-02 {
  border-radius: $btn-radius-02;
}
.btn-radius-1 {
  border-radius: $btn-radius-1;
}

// container
.container {
  width: $w-container;
  margin-inline: auto;
  // border: $d-border;
}

.space-margin-top-bot-25 {
  margin: $size-500 0;
}

.space-margin-top-bot-2 {
  margin: $size-400 0;
}

.space-padding-top-bot-5 {
  padding: $size-900 0;
}

.text-center {
  text-align: center;
}
// sign in button
.contact-btn {
  background-color: $clr-neutral-100;
  color: $clr-neutral-500;
  padding: $size-100 $size-300;
  box-shadow: $bxs-200;
  font-size: $fs-200;
  font-weight: $fw-600;
  border-radius: $btn-radius-1 + 1;
  gap: $size-100;
  align-items: center;
  text-transform: uppercase;
  &:hover {
    background-color: $clr-primary-200;
  }
}

.icon {
  fill: $clr-neutral-200;
  width: 1em;
  aspect-ratio: 1;
}

.display-desktop {
  display: none;
}

.display-mobile {
  display: grid;
}

@media (min-width: 30em) {
  .display-desktop {
    display: grid;
  }
  .display-mobile {
    display: none;
  }
}

.float-100 {
  float: inline-start;
}
