footer {
  .footer-contant {
    padding: $size-400 0;
    @include flex-jSpace_between-aCenter;

    .nav-links {
      display: flex;
      ul {
        @include flex-jSpace_between-aCenter;

        li {
          font-size: $fs-200;
          font-weight: $fw-500;
          color: $clr-neutral-100;
          text-transform: capitalize;
        }
        li:not(li:last-child) {
          padding: 0 $size-200;
        }
      }
    }
  }
}

@media (max-width: 30em) {
  footer {
    .footer-contant {
      @include flex-jSpace_between-aCenter($a: stretch);
      flex-direction: column;
    }
  }
}
