header {
  position: absolute;
  padding: $size-400;
  height: $w-header;
  border: $d-border;
  @include flex-jSpace_between-aCenter;
  .nav-links {
    display: none;
  }
  // mobile nav
  .menu-btn {
    display: block;
    background-color: transparent;
  }
  .nav-mobile-links {
    display: none;
  }
}

@media (min-width: 40em) {
  header {
    .nav-links {
      display: flex;
      ul {
        @include flex-jSpace_between-aCenter;

        li {
          padding: 0 $size-200;
          a {
            font-size: $fs-200;
            font-weight: $fw-500;
            color: $clr-neutral-100;
          }
        }
      }
    }

    // mobile nav
    .menu-btn {
      display: none;
    }
    .nav-mobile-links {
      display: none;
    }
  }
}
