header .main-header {
  // position: absolute;
  position: relative;
  padding: $size-400;
  width: 100%;
  min-height: $w-header;
  background-color: black;
  border: $d-border;
  @include flex-jSpace_between-aCenter;
  .nav-links {
    display: none;
  }
  // mobile nav
  .menu-btn {
    display: block;
    background-color: transparent;
  }
  .mobile-nav-bar {
    position: fixed;
    display: none;
    // top: $size-900;
    // padding: 1rem;
    top: 25%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    // inset: 1 / 1;

    // right: $size-400;
    box-shadow: $bxs-200;
    // border-radius: $btn-radius;
    background-color: transparent;
    .mobile-nev {
      background-color: #fff;
      width: calc(min(100%, 600px));
      // width: 100%;
      margin: $size-200;
      padding: $size-200;
      @include flex-jSpace_between-aCenter($j: center);

      flex-direction: column;
      ul {
        text-align: center;
        li {
          padding: 0 $size-200;
          margin: $size-100 0;
          a {
            font-size: $fs-200;
            font-weight: $fw-600;
            transition: $ts-400;
            color: $clr-neutral-200;
            :hover {
              color: $clr-neutral-500;
            }
          }

          .active {
            transition: $ts-400;
            color: $clr-neutral-500;
          }
        }
      }
      .contact-btn {
        background-color: $clr-primary-200;
      }
    }
  }
}

@media (min-width: 40em) {
  header {
    .nav-links {
      display: flex;
      ul {
        @include flex-jSpace_between-aCenter;

        li {
          padding: 0 $size-200;
          a {
            font-size: $fs-200;
            font-weight: $fw-500;
            color: $clr-neutral-100;
          }
        }
      }
    }

    // mobile nav
    .menu-btn {
      display: none;
    }
    .mobile-nav-bar {
      display: none;
    }
  }
}
